[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-ckeditor = "*"
flask-moment = "*"

[dev-packages]

