{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block content %}
<div class="container">
	<div class="row">
		<!-- Blog Entries Column -->
		<div class="col-md-8">
			<h1 class="my-4">Page Heading
				<small>Secondary Text</small>
			</h1>

			<!-- Blog Post -->
			{% include 'blog/_posts.html' %}

			<!-- Pagination -->
			{% if posts %}
			<div class="page-footer">{{ render_pagination(pagination) }}</div>
			{% endif %}
		</div>

		<!-- Sidebar Widgets Column -->
		{% include 'blog/_sidebar.html' %}
	</div>
	<!-- /.row -->	
</div>
{% endblock %}