{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class="container">
	<div class="row">
		<!-- Post Content Column -->
		<div class="col-lg-8">
			<!-- Title -->
			<h1 class="mt-4">{{ post.title }}</h1>

			<!-- Author -->
			<p class="lead">
				by
				<a href="#">Start Bootstrap</a>
			</p>
			<hr>

			<!-- Date/Time -->
			<p>Posted on {{ post.timestamp.strftime('%B %d, %Y at %I:%M %p') }}</p>
			<hr>

			<!-- Preview Image -->
			<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
			<hr>

			<!-- Post Content -->
			{{ post.body|safe }}
			<hr>

			<!-- Share Modal -->
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".postLinkModal">Share</button>
			<div class="modal fade postLinkModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-tittle">Permalink</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="=Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input type="text" class="form-control" value="{{ url_for('.show_post', post_id=post.id, _external=True) }}" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>

			<!-- Comment with nested comments -->
			{% if comments %}
			{% for comment in comments %}
			<div class="media mb-4">
				<a href="{% if comment.site %}{{ comment.site }}{% else %}#{% endif %}" target="_blank">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				</a>
				
				<li class="list-group-item list-group-item-action flex-column">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mt-0">
							{% if comment.from_admin %}
							Tuna Hsu
							<span class="budge budge-secondary">Author</span>
							{% elif comment.replied %}
							{{ comment.author }}
							<span class="badge badge-secondary">Reply</span>
							{% else %}
							{{ comment.author }}
							{% endif %}
						</h5>
						<small data-toggole="tooltip" data-placement="top" data-delag="500" data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
							{{ moment(comment.timestamp).fromNow() }}
						</small>
					</div>
					{% if comment.replied %}
					<p class="alert alert-dark reply-body">{{ comment.replied.author }}:
						<br>{{ comment.replied.body }}
					</p>
					{% endif %}
					<p class="mb-1">
						{{ comment.body }}
					</p>
					<div class="float-right">
						<a href="{{ url_for('.reply_comment', comment_id=comment.id) }}" class="btn btn-light btn-sm">Reply</a>
					</div>
				</li>
			</div>
			{% endfor %}
			<div class="page-footer">{{ render_pagination(pagination) }}</div>
			{% endif %}

			<!-- Comments Form -->
			<div class="card my-4" id="comment-form">
				<h5 class="card-header">Leave a Comment:</h5>
				<div class="card-body">
					{% if request.args.get('reply') %}
					<div class="alert alert-dark">
						Reply to <strong>{{ request.args.get('author') }}</strong>
						<a class="float-right" href="{{ url_for('.show_post', post_id=post.id) }}">Cancel</a>
					</div>
					{% endif %}
					{{ render_form(form, action=request.full_path) }}
				</div>
			</div>
		</div>

		<!-- Sidebar Widgets Column -->
		{% include 'blog/_sidebar.html' %}
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}